name: Import Existing Resources

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  terraform-import:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: "projects/648099970996/locations/global/workloadIdentityPools/github-pool/providers/github-provider"
          service_account: "terraform-sa@project-5a757d72-eb26-477c-bd9.iam.gserviceaccount.com"

      - uses: google-github-actions/setup-gcloud@v2

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.7.0

      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      - name: Remove Tainted GKE Cluster From State
        working-directory: terraform
        run: terraform state rm module.gke.google_container_cluster.primary

      - name: Import GKE Cluster
        working-directory: terraform
        run: |
          terraform import \
            -var="db_password=placeholder" \
            module.gke.google_container_cluster.primary \
            projects/prod-workloads-lz-001/locations/europe-west1/clusters/workloads-gke-001